.add-stats{
    font-family:$source;
    position: relative;

    .wrapper.anon{
        height:80vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }

    h2{
        font-family:$bebas;
        font-size:clamp(1.5rem, 4vw, 2rem);
    }

    fieldset{
        display:flex;
        padding:0;
        border:none;
        margin-bottom:20px;

        div{
            display:flex;
            flex-direction:column;
        }
    }

    input[type=radio]{
        display:none;

        &:checked +label{
            background-color:white;
            color:$black;
            transform:translateY(5px) translateX(5px);
            box-shadow:3px 3px $black;
        }
    }

    label{
        @include addStatButton;
        padding:10px 20px;
        white-space:nowrap;
        margin-right:20px;
        transition:transform 0.3s, box-shadow 0.3s, color 0.3s;
    }


    legend{
        font-family:$bebas;
        font-size:clamp(1.2rem, 4vw, 1.5rem);
        margin-bottom:20px;
    }


    button{
        @include button;
    }

    .time-input{
        display:none;
    }

    .time-input.active{
        display:block;
    }
}


// ERROR MESSAGE

.error-message{
    height:max-content;
    display:flex;
    flex-direction:column;

    h3{
        font-size:5rem;
        color:$red;
        margin:0;
    }

    .error-text{
        text-align: center;
    }

    .error-image{
        margin:0 auto;
        text-align: center;
    }

    img{
        width:50%;
    }
}

// Message modal popup

.error-modal{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba($black, $alpha:0.5);

    .modal-message{
        position: absolute;
        top:0;
    }
}