.add-stats{
    font-family:$source;
    position: relative;
    height:100vh;

    .wrapper.anon{
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:100vh;
    }

    fieldset{
        display:flex;
        padding:0;
        border:none;
        margin-bottom:20px;

        div{
            display:flex;
            flex-direction:column;
        }
    }

    input[type=radio]{
        display:none;

        &:checked +label{
            background-color:white;
            color:$black;
            transform:translateY(5px) translateX(5px);
            box-shadow:3px 3px $black;
        }
    }

    input[type=text]{
        border:2px $black solid;
        padding:5px 10px;
        font-family:$source;

        &::placeholder{
            font-family:$source;
        }
    }

    label{
        @include addStatButton;
        padding:10px 20px;
        white-space:nowrap;
        margin-right:20px;
        transition:transform 0.3s, box-shadow 0.3s, color 0.3s;
    }


    legend{
        font-family:$bebas;
        font-size:clamp(1.2rem, 4vw, 1.5rem);
        margin-bottom:20px;
    }


    button{
        @include button;
    }

    .time-input{
        display:none;
    }

    .time-input.active{
        display:block;
    }
}


// ERROR MESSAGE

.error-message{
    height:max-content;
    display:flex;
    flex-direction:column;

    h3{
        font-size:5rem;
        color:$red;
        margin:0;
    }
    h4{
        margin:0;
    }
    .error-text{
        text-align: center;
        flex-basis:70%;
        padding:40px;
    }

    .error-image{
        margin:0 auto;
        text-align: center;
        flex-basis:30%;
        width:100%;
    }

    img{
        width:30%;
    }
}


// Message modal popup

.error-modal{
    display:none;
    position: absolute;
    text-align: center;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba($black, $alpha:0.8);
    z-index:10;

    .modal-container{
        display:flex;
        flex-direction:column;
        background-color:$red;
        min-width:30%;
        height:20%;
        padding:20px;
        margin:auto;
        border:2px $black solid;
        justify-content:space-evenly;
        color:$white;
    }

    button{
        @include addStatButton;
        padding:10px 5px;
        border:2px $black solid;
        background-color:$white;
        color:$black;
        width:50%;
        margin:0 auto;
    }
}

.error-modal.active{
    display:flex;
}

// DARK THEME
.add-stats.darkTheme{
    background-color:rgba($black, $alpha:0.7);
    color:$white;
}