@keyframes shake{
    0%{
        transform:translateX(0px)
    }
    20%{
        transform:translateX(30px)
    }
    25%{
        transform:translateX(0px)
    }
    30%{
        transform:translateX(30px)
    }
    35%{
        transform:translateX(0px)
    }
    40%{
        transform:translateX(30px)
    }
    45%{
        transform:translateX(0px)
    }
    100%{
        transform:translateX(0px);
    }
}