@keyframes shake{
    0%{
        transform:translateX(0px)
    }
    20%{
        transform:translateX(30px)
    }
    25%{
        transform:translateX(0px)
    }
    30%{
        transform:translateX(30px)
    }
    35%{
        transform:translateX(0px)
    }
    40%{
        transform:translateX(30px)
    }
    45%{
        transform:translateX(0px)
    }
    100%{
        transform:translateX(0px);
    }
}

@keyframes slideAnimate {
    // First Room
    0%{
        transform:translateX(0)
    }
    12%{
        transform:translateX(0%);
    }
15%{
    transform:translateX(-100%);
}
25%{
    transform:translateX(-100%);
}
28%{
    transform:translateX(-200%)
}
38%{
    transform:translateX(-200%);
}
41%{
    transform:translateX(-300%)
}
51%{
    transform:translateX(-300%)
}
54%{
    transform:translateX(-400%)
}
    64%{
        transform:translateX(-400%);
    }
67%{
    transform:translateX(-500%);
}
77%{
    transform:translateX(-500%)
}
80%{
    transform:translateX(0)
}
100%{
    transform:translateX(0);
}
}

@keyframes zoomIn{
    0%{
        transform:scale(1)
    }
    50% {
        transform:scale(1.5)
    }
    100%{
        transform:scale(1)
    }
}

@keyframes slideDown{
    0%{
        opacity:1;
        transform:translateY(0);

    }
    50%{
        opacity:0;
        transform:translateY(-100%);
    }
   100%{
        opacity:1;
        transform:translateY(0);

    }
}

@keyframes slideUp{
    0%{
        opacity:1;
        transform:translateY(0);

    }
    50%{
        opacity:0;
        transform:translateY(100%);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes appearIn{
    0%{
        opacity:0;
        transform:scale(1)
    }
    50%{
        opacity:1;
        transform:scale(2)
    }
    100%{
        opacity:0;
        transform:scale(1)
    }
}