.wrapper{
    max-width:1280px;
    width:80%;
    margin:0 auto;
}

header{
    background-color:#909793;
}

main{
    width:85%;
    margin-left:auto;
    height:100vh;
}

.main-content.darkTheme{

    .scoreboard-container{
        color:white;
        background-color:rgba($black, $alpha:0.7);

        .stats-col{
        background-color:rgba($nickel, $alpha:0.7);
        }
    }
}


