header{
    height:100vh;
    min-width:200px;
    width:15%;
    position: fixed;
    font-family:$source;
    border-right:2px $black solid;   
    z-index:10; 

    .wrapper{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        height:100%;
    }

    img{
        width:100%;
    }

    ul{
        padding:0;
        height:30vh;
        display:flex;
        flex-direction:column;
        list-style:none;
        justify-content:space-between;

        a{
            text-decoration:none;
            color:$black;
            text-transform:uppercase;
            transition:padding 0.3s, color 0.3s;
    
            &:hover{
                padding-left:20px;
                color:$red;
            }
        }
    }

    .user-info{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        height:30%;
    }

    p{
        font-size:clamp(0.8rem, 1vw, 1rem);
    }

    button{
        @include button;
        cursor:pointer;
    }

    .active-link{
        color:orange;
    }
}

header.darkTheme{
    background-color:$black;
    color:$white;

    a{
        color:$white;
    }
}

