.recent-stats{

    .wrapper{
        font-family:$source;
    }
}

table{
    width:100%;

    tr{
        display:flex;
        justify-content:space-between;
        width:100%;
    }

    td{
        width:calc((100% / 6) - 10px);
        text-align: center;
    }

    th{
        margin:0 auto;
    }
    
    tbody{
        display:flex;
        flex-direction:column;
    }
}

.pagination-btn{
    display:flex;
    list-style:none;
    justify-content:space-evenly;
    align-items: center;
    border:2px red solid;
    padding:0;

    .pagination-active{
        background-color:$red;
        padding:5px 10px;
        border-radius:5px;
        color:$white;
    }

    .pagination-disabled{
        color:rgba($black, $alpha:0.5);
    }

    li{
        cursor:pointer;
    }
}
