.recent-stats{

    .wrapper{
        display:flex;
        height:max-content;
        flex-direction:column;
        justify-content:space-evenly;
        font-family:$source;
        padding-bottom:40px;
        width:90%;
    }
    h2{
        margin:0;
    }
    .action-container{
        display:flex;
        justify-content:space-between;
        align-items: center;
    }
    .filter-posts{
        display:flex;
        margin:20px 0;
        justify-content:space-evenly;
        align-items: center;
        margin-left:auto;
        width:40%;
    }
    .sort-results{
        display:flex;
        justify-content: center;
    }
    
    .room-stats-display{
        font-family:$bebas;
        font-size:clamp(1rem, 4vw, 1.2rem);
    }


    select{
        border:2px $black solid;
        border-radius:5px;
        font-family:$source;
        height:fit-content;
        cursor:pointer;
        

        option{
            font-family:$source;
        }

        &::placeholder{
            font-family:$source;
        }
    }

}


table{
    width:100%;

    thead{
        background-color:$red !important;
        color:$white;
        transform:skew(-8deg);
    }

    tr{
        display:flex;
        justify-content:space-between;
        align-items: center;
        width:100%;
    }

    td{
        width:calc((100% / 6) - 10px);
        text-align: center;

        &:last-child{
            display:flex;
            justify-content:space-evenly;
        }
    }

    th{
        margin:0 auto;
    }
    
    tbody{
        display:flex;
        flex-direction:column;

        tr{
            margin-bottom:10px;
            padding:10px 0;
        }

        tr:nth-child(odd){        
            background-color:rgba($black, $alpha:0.5);
            transform:skew(-8deg);
        }
        tr:nth-child(even){        
            background-color:rgba($black, $alpha:0.2);
            transform:skew(-8deg);
        }
    }
    .reactButton{
        display:flex;
        border:none;
        background-color:transparent;

        &:hover{
            color:$red !important;
            transition:color 0.3s;
            cursor:pointer;
        }
        &:hover:nth-child(2){
            animation:shakeIcon infinite 1s;
        }
    }
}

.pagination-btn{
    display:flex;
    list-style:none;
    justify-content:space-evenly;
    align-items: center;
    margin:20px 0;
    padding:0;
    height:5%;
    width:100%;


    .pagination-active{
        transform:translateX(3px) translateY(3px);

        a{
            background-color:$white;
            color:$black;
            box-shadow:3px 3px $black;
        }

    }

    .pagination-disabled{
        transform:translateX(3px) translateY(3px);

        a{
            background-color:$white;
            color:$black;
            box-shadow:3px 3px $black;
        }
    }
    

    a{
        color:$white;
        font-family:$source;
        padding:5px 10px;
        background-color:$red;
        cursor:pointer;
        box-shadow:6px 6px $black;
        border:2px $red solid;
        transition: box-shadow 0.3s, background-color 0.3s;

        &:hover{
            background-color:$white;
            color:$black;
            box-shadow:3px 3px $black;
        }
    }

    li{
        transition: transform 0.3s;
        &:hover{
            transform:translateY(3px) translateX(3px);
        }
    }

}

/* pop up modal */
// .modal-container .popupModalMessage {
    
// }
