.scoreboard-section{
    color:$white;
    height:100vh;

    .wrapper{
        display:flex;
        margin:0;
        max-width:none;
        height:inherit;  
        width:100%;  

    }

    .carousel-container{
        overflow:hidden;
    }
    
    .scoreboard-div{
        display:flex;
        width:max-content;
        height:100vh;
    }

    .carousel-slides{
        white-space:nowrap;
        height:inherit;     
        width:84vw; 
        background-color:rgba($black, $alpha:0.2);
        color:$black;
        animation:slideAnimate 100s infinite; 
        height:inherit;
        transition:width 0.3s;
    }

    .scoreboard-container{
        display:flex;
        height:inherit;
    }

    .room-poster{
        display:flex;
        align-items: center;
        justify-content: center;
        width:40%;
        max-height:100vh;
        height:100vh;
        padding:0 20px;
        margin:auto;
        overflow:hidden;

    }
    .room-poster-container{
        height:max-content;
        width:100%;
        overflow:hidden;
    }
    .room-stats{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        width:60%;
        max-height:100vh;
    }
    .stats-row{
        display:flex;
        justify-content:space-evenly;

    }
    .stats-col{
        background-color:rgba($nickel, $alpha:0.3);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        p{
            font-size:2.5rem;
            font-weight:bold;
            text-align: center;
            margin:20px 0;
        }
    }
    .passrate-row{
        .stats-col{
            width:calc(100% / 2  - 40px);
            margin:10px;
            padding:10px;
        }
    }

    .best-time-row{
        display:flex;
        justify-content:space-evenly;

        .stats-col{
            width:calc(100% / 3 - 40px);
            margin:10px;
            padding:10px;
        }
    }

    img{
        width:100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        animation:zoomIn 60s infinite;
    }

    h3{
        font-family:$bebas;
        font-size:clamp(1rem, 4vw, 1.4rem);
        position: relative;
        margin:0;

        &:before{
            content:'';
            position: absolute;
            background-color:$red;
            width:50px;
            height:5px;
            bottom:-8px;
        }
    }

    .first-slide{
        width:84vw; 
        height:100%;
        background-color:$black;
        transition:width 0.3s;

        img{
            top:0;
            height:100%;
            width:100%;
            object-fit:cover;
            position: absolute;
        }

        ul{
            display:flex;
            list-style:none;
            padding:0;
            margin:0;
            height:100%;
        }

        li{
            width:calc(100% / 5);
            height:100%;
            position: relative;
            overflow:hidden;
            display:flex;
            align-items: center;
            justify-content: center;

            &:nth-child(1){
                img{
                    transform:translateY(-100%);
                    animation:slideDown 10s infinite ease-in-out;
                }
            }
            // &:nth-child(2){
            //     img{
            //         animation:zoomIn 20s infinite 1s, slideUp 20s infinite 10s;
            //     }
            // }
            &:nth-child(3){
                img{
                    animation:slideDown 20s infinite 10s;
                }
            }
            // &:nth-child(4){
            //     img{
            //         animation:zoomIn 20s infinite 1s, slideUp 20s infinite 10s;
            //     }
            // }
            &:nth-child(5){
                img{
                    animation:slideDown 20s infinite 10s;      
                }
            }
        }

        p{
            top:40%;
            left:40%;   
            position: absolute;
            text-align: center;
            font-family:$bebas;
            font-size:clamp(2rem, 4vw, 2.5rem);
            opacity:0;
            color:$white;
            animation:appearIn 10s infinite 10s;
        }
    }
}

// chart.js
#myCanvas{
    width:400px;
    height:400px;
}

// DARK THEME
