// sign in modal
.signin-section{
    background-color:rgba($black, $alpha:0.8);
    display:flex;
    align-items: center;
    font-family:$source;
    color:$white;
    height:100vh;

    .wrapper{
        background-color:$red;
        border:2px $black solid;
        padding:50px 0;
    }

    h2{
        text-align: center;
        font-family:$bebas;
        color:$white;
    }
            
    .login-message{
        display:none;
        text-align: center;
        padding:10px;
        background-color:$white;
        color:$red;
        width:max-content;
        margin:0 auto;
        border-radius:20px;
        border:2px $white solid;
        animation:shake 0.9s forwards;
        transition:transform 0.3s;
    }

    .login-message.active{
        display:block;
    }

    .account-exists{
        text-align: center;
    }

    .signupPage{
        font-family:$source;
        display:flex;
        flex-direction:column;
        background-color:$red;
    
        form{
            display:flex;
            flex-direction:column;
        }
    
        button{
            width:80%;
            margin:0 auto;
        }
    
        fieldset{
            border:none;
            display:flex;
            flex-direction:column;
            margin:0 auto;
            width:100%;
            padding:20px 0;
            
        }
        
        legend{
            margin:0 auto;
        }
        input{
            border:2px $black solid;
            padding:10px;
            font-family:$source;

            &::placeholder{
                font-family:$source;
            }
        }
        label{
            text-transform:uppercase;
            font-weight:bold;
        }
        input, label{
            width:80%;
            margin:10px auto;
        }


        button{
            @include signinButton;
            width:30%;
            cursor:pointer;
            margin-bottom:30px;
        }
    }
}





