// HEADER h1

h1{
    font-family:$bebas;
    text-align: center;
}

header h2{
    text-align: center;
    font-family:$bebas;
}

h2{
    margin:0;
}

section h2{
    padding:20px 0 10px;
    margin-bottom:20px;
    position: relative;
    font-family:$bebas;
    font-size:clamp(1.5rem, 4vw, 2rem);
    

    &::before{
        position: absolute;
        content:'';
        width:100px;
        height:5px;
        background-color:$red;
        bottom:0;
    }
}
